body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

table {
  align-self: center;
  margin-top: 100px; 
  text-align: left;
  border: cornflowerblue solid;
}

.table-style {
  padding:8px
}

nav {
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
}
a {
  color: black;
  text-decoration-line: none;
}

p,h4 {
  padding: 5px;
}

.form-container {
  padding-left: 85px;
  padding-bottom: 43px;
  margin-top: 23px;
  width: 20%;
  border: cornflowerblue solid;
  align-self: center;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.form-field {
  align-self: center;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}


button {
  
  color: #0c0c0c;
  background-color: beige; 
  box-shadow: darkblue;
  padding: 4px 12px 4px 12px;
  margin-top: 8px;
  margin-right: 5px;
}

label {
  padding-bottom: 10px;
}

.error {
  font: .8em sans-serif;
  color: red;
  padding: 0;
  margin: 0PX;
}